@import "./App.js";

.searchBtn {
    background-color: goldenrod;
    color: black;
    text-decoration: dashed;
}

.title {
    color: black;
    background-color: aqua;
}

h1 {
    color: black;
}
